# DS_Stores #
#############
.DS_Store
Thumbs.db
Thumbs.db.meta

# Unity Ignored Files #
#######################
obj
Temp
*.tmproj
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.pidb
*.userprefs

Library/cache/*
Library/metadata/*
Library/previews/*
Library/ScriptAssemblies/*
Library/ProjectSettings.asset
Library/CurrentLayout.dwlt
Library/ShaderCache.db
Library/ShaderCache/*
Library/shadercompiler-1.log
Library/shadercompiler-2.log
Library/shadercompiler-3.log
Library/shadercompiler-4.log

AnnotationManager
assetDatabase3
AssetImportState
assetservercachev3
AssetServerCacheV3
AssetVersioning.db
AudioManager.asset
BuildPlayer.prefs
BuildSettings.asset
EditorUserBuildSettings.asset
expandedItems
FailedAssetImports.txt
guidmapper
InspectorExpandedItems.asset
MonoManager.asset
NetworkManager.asset
ScriptMapper

*.dwlt